.about {
    height: 700px;
    padding: 60px 0 100px 0;
}

.about__title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 300;
    margin-top: 20px;
}

.about__title span {
    font-weight: 500;
}

.about__content {
    margin: 70px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.about__img img {
    display: flex;
    width: 560px;
    height: 390px;
    align-items: flex-end;
}

.about__text {
    max-width: 560px;
    display: flex;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 26px;
}