.agents-slider__items .slick-dots button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1) ;
    border:2px solid #a1a1a1; 
    padding: 0;
    font-size: 0; 
}
.agents-slider__items .slick-dots .slick-active button{
    background-color: #e2574c;
    border:#e2574c;
}
.agents-slider__items .slick-dots li{
    display: inline-block;
    margin: 0 5px;
}
.agents-slider__items .slick-dots{
    position: absolute;
    margin-top: -455px;
    right: 450px;
}

.agents {
    position: relative;
    margin: 30px 0 0 0;
}
.agents-slider__items{
    max-width: 1150px;
    margin: 0 auto;
}
.agents-slider__item {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
}
.agents-slider__img,
.agents-slider__img-mini{
    display: inline-block;
    width: 364px;
    height: 100%;
}
.agents-slider__img-mini{
    margin-top: 50px;
}
.agents-slider__descr {
    position: fixed;
    margin: 50px 0 0 10px;
    display: inline-block;
    max-width: 755px;
}
.agents-slider__title {
    position: relative;
    margin-top: 30px;
    font-size: 45px;
    line-height: 50px;
    color: #3c3c3c;
    font-weight: 300;
}
.agents-slider__title span {
    font-weight: 500;
}
.agents-slider__title::after{
    content: "";
    position: absolute;
    top: 80px;
    left: 0;
    height: 3px;
    background-color: #e2574c;
    width: 110px;
}
.agents-slider__subtitle {
    margin-top: 65px;
    font-size: 25px;
    line-height: 27px;
    color: #3c3c3c;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.agents-slider__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 27px;
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.agents-slider__subtext {
    margin-top: 30px;
    display: flex;
}
.agents-slider__phone {
    margin: 0 15px 0 0;
    display: flex;
}
.agents-slider__phone img{
    margin: 9px 13px 0 0;
    width: 14px;
    height: 14px;
}
.agents-slider__phone-num {
    font-size: 16px;
    line-height: 27px;
    color: #3c3c3c;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-decoration: none;
}
.agents-slider__email {
    margin: 0 15px;
    display: flex;
}
.agents-slider__email img{
    margin: 9px 13px 0 0;
    width: 15px;
    height: 10px;
}
.agents-slider__email-text {
    font-size: 16px;
    line-height: 27px;
    color: #e2574c;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}