.cloudcroft{
    margin-top: 60px;
}
.cloudcroft__wrapper{
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows:  [content] auto [sidebar] auto;
    grid-template-columns:  [content] 8fr [sidebar] 4fr;
}

.cloudcroft__title {
    margin-top: 20px;
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
}
.cloudcroft__content-img{
    margin-top: 65px;
    max-width: 757px;
    max-height: 510px;
    width: 100%;
    height: 100%;
}
.cloudcroft__object {
    position: relative;
    margin-top: 30px;
    max-width: 757px;
    display: flex;
    justify-content: space-between;
}
.cloudcroft__object::after{
    content: "";
    position: absolute;
    margin-top: 60px;
    border-bottom: 2px solid #f3f2f2;
    max-width:757px;
    width: 100%;
}
.cloudcroft__object a{
    font-size: 19px;
    line-height: 26px;
    color: #e2574c;
    font-weight:700;
    text-decoration: none;
    text-transform: uppercase;
}

.cloudcroft__subtitle {
    font-size: 37px;
    line-height: 65px;
    margin-top: 90px;
    font-weight: 300;
}
.cloudcroft__subtitle span{
    font-weight: 500;
}
.cloudcroft__items {
    margin-top: 50px;
    display: flex;
    max-width: 757px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cloudcroft__item img{
    max-width: 233px;
    max-height: 154px;
}
.text {
    color: #3c3c3c;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.subtext {
    color: #797979;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.cloudcroft__comments{
    position: relative;
    font-size: 20px;
    line-height: 65px;
    color: #797979;
    margin: 65px 0 55px 0;
    font-weight: 700;
}
.cloudcroft__comments::after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #f3f2f2;
    max-width:757px;
    width: 100%;
    left: 0;
    margin-top: 100px;
}

.cloudcroft__sidebar {
    margin-top: 130px;
    max-width: 345px;
    margin-left: 25px;
}
.sidebar-category {
    display: flex;
}
.sidebar-column img{
    margin:5px  11px 0  0;
    display: flex;
    width: 11px;
    height: 16px;
}
.sidebar-column {
    display: flex;
    margin-right: 40px;
}
.sidebar-category::after{
    content: "";
    position: absolute;
    margin-top: 55px;
    border-bottom: 2px solid #f3f2f2;
    max-width:345px;
    width: 100%;
}
.sidebar-text {
    font-size: 16px;
    line-height: 30px;
    color: #e2574c;
    font-weight: 700;
}
.sidebar-text span{
    color: #333333;
    font-weight: 500;
}
.sidebar-descr {
    display: flex;
    margin-top: 60px;
}
.sidebar-descr__info {
    font-size: 16px;
    line-height: 27px;
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.sidebar-descr__client {
    margin-left: 10px;
    font-size: 16px;
    line-height: 27px;
    color: #3c3c3c;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}
.sidebar-descr::after{
    content: "";
    position: absolute;
    border-top: 2px solid #f3f2f2;
    max-width:345px;
    width: 100%;
    margin-top: 115px;
}
.cloudcroft__sidebar-text {
    font-size: 14px;
    line-height: 24px;
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    position: relative;
    margin-top: 75px;
}
.cloudcroft__sidebar-btn {
    margin-top: 35px;
    width: 181px;
    height: 48px;
}
.cloudcroft__sidebar-btn a{
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}