.deals {
    margin: 120px 0;
}
.deals-descr {
    display: flex;
    justify-content: center;
}
.deals-title {
    position: relative;
    padding-right: 45px;
    font-size: 37px;
    line-height: 50px;
    color: #3c3c3c;
    font-weight: 500;
    text-align: right;
}
.deals-title::after{
    content: "";
    position: absolute;
    bottom: 11px;
    right: 50px;
    width: 30px;
    height: 3px;
    background-color: #3c3c3c;
    width: 30px;
}
.deals-text {
    max-width: 740px;
    font-size: 16px;
    line-height: 27px;
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}