.footer {
    padding: 80px 0;
    background-color: #303030;
    color: #fff;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.footer-icons {
    margin-top: 20px;
}
.footer-icons__circle {
    background-color: #fff;
}

.footer-menu ,
.footer-clients ,
.footer-contact {
    margin-top: 0px;
}
.footer-menu li,
.footer-clients li,
.footer-address{
    font-size: 15px;
    line-height: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.footer-title {
    font-size: 28px;
    line-height: 50px;
    font-weight: 300;
}
.footer-link {
    text-decoration: none;
    color: #fff;
}
.footer-contact {
    margin-right: 45px;
}

.footer-freephone,
.footer-telephone,
.footer-FAX,
.footer-email{
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    line-height: 23px;
}
.footer-address{
    margin-bottom: 5px;
}
.footer-email{
    margin-top: 5px;
}
.footer-email a{
    color: #e2574c;
    font-weight: 400;
}

