.header {
    background-color: #fff;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 173px;
    height: 45px;
}

.header-menu {
    margin: 0 0 0 120px;
    display: flex;
    justify-content: center;
    min-width: 535px;
}

.header-menu li {
    padding: 41px 30px;
}

.active {
    background:#f2f2f2;
}

.header-link {
    color: #3c3c3c;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-decoration: none;
}

.icons {
    max-width: 185px;
    display: flex;
}

.icons__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.icon-facebook {
    width: 8px;
    height: 16px;
}

.icon-pinterest {
    width: 16px;
    height: 20px;
}

.icon-instagram {
    width: 18px;
    height: 18px;
}

.icon-google {
    width: 15px;
    height: 16px;

}