.newHome {
    padding: 55px 0;
    background-color: #f3f2f2;
}
.newHome-content {
    display: flex;
    justify-content: space-between;
}
.newHome-title {
    color: #3c3c3c;
    font-size: 37px;
    line-height: 50px;
    font-weight: 300;
}
.newHome-title span {
    font-weight: 700;
}
.newHome-btn {
    width: 175px;
    height: 50px;
}
.newHome-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 35px;
    font-weight: 700;
}
.newHome-btn:focus{
    background-color: #adadb1;
}
.newHome-btn:focus a{
    color: #fff;
}