.properties {
    padding: 100px 0;
    text-align: center;
    background-color: #f6f6f6;
}
.properties-title {
    position: relative;
    font-size: 45px;
    line-height: 50px;
    font-weight: 300;
    color: #3c3c3c;
}
.properties-title span {
    font-weight: 500;
}
.properties-title::after{
    content: "";
    position: absolute;
    top: 85px;
    left: 45%;
    height: 3px;
    background-color: #e2574c;
    width: 110px;
}
.properties-text{
    margin: 0 auto;
    margin-top: 75px;
    max-width: 560px;
    font-size: 16px;
    line-height: 27px;
    color:#797979;
    font-weight: 400;
    font-family: 'Playfair Display', serif; 
}
.properties-items{
    margin-top: 40px;
}

.properties-btn{
    margin-top: 50px;
    width: 175px;
    height: 50px;
    color: #fff;
}
.properties-btn a{
    font-size: 16px;
    line-height: 35px;
    font-weight: 700;
}

.properties-btn:focus {
    background-color: #adadb1;
}

.properties-btn:focus a {
    color: #fff;
}