.sponsors {
    margin: 125px 0;
}
.sponsors-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsors-images img {
    max-width: 170px;
    padding: 0 10px ;
}
.sponsor-swan{
    margin-top: -30px;
}