.testimonials{
    margin: 60px 0 120px ;
}
.testimonials-wrapper{
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows:  [content] auto [sidebar] auto;
    grid-template-columns:  [content] 8fr [sidebar] 4fr;
}
.testimonials-title {
    margin: 30px 0 70px 0;
    font-size: 45px;
    line-height: 50px;
    color: #3c3c3c;
     
    font-weight: 400;
}
.testimonials-item {
    margin-bottom: 50px;
    max-width: 735px;
    border-radius: 3px;
    padding: 30px 0;
    display: flex;
    background-color: #f6f6f6;
}
.testimonials-item img {
    margin-left: 30px;
    width: 120px;
    height: 120px;
}
.testimonials-descr{
    
    margin-left: 30px;
    max-width: 518px;
}
.testimonials-text {
    margin-top: 0;
    font-size: 14px;
    line-height: 24px;
    color: #797979;
}
.testimonials-author,
.testimonials-link {
    font-size: 16px;
    line-height: 27px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.testimonials-author span{
    font-weight: 700;
    
}
.testimonials-link {
    color: #e2574c;
}
.testimonials-box__sidebar{
    padding-top: 0;
}