.slider-inner .slick-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #aeb0ad;
    padding: 0;
    font-size: 0;
}

.slider-inner .slick-dots .slick-active button {
    background-color: #fff;
    border: #fff;
}

.slider-inner .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slider-inner .slick-dots {
    position: absolute;
    margin-top: -165px;
    left: 0;
    right: 0;
}


.testimonials-slider {
    text-align: center;
    color: #fff;
    min-height: 575px;
}
.slider-inner{
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: 20%;
    border: none; 
    background-color: rgba(255, 255, 255, 0.0);
}
.slick-btn:focus {
    background-color: rgba(255, 255, 255, 0.0);
}
.slick-next  {
    right: 20%;
    left: auto;
}


.testimonials-slider__item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0 180px 0;
}

.testimonials-slider__title {
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
}

.testimonials-slider__title::after {
    content: "";
    position: absolute;
    top: 200px;
    right: 46%;
    height: 3px;
    background-color: #e2574c;
    width: 110px;
}

.testimonials-slider__text {
    text-align: center;
    max-width: 700px;
    margin: 75px auto 0;
    font-size: 24px;
    line-height: 35px;
    font-weight: 200;
}

.testimonials-slider__subtext {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.testimonials-slider__subtext span {
    font-weight: 700;
}